
<div class="container">
    <div class="brand-logo">
    </div>
    <div class="brand-title">Sign Up</div>
    <div class="inputs">
        <label>Name</label>
        <input type="text" placeholder="Your Name" id="name">
        <div class="error-message" id="name-error"></div>
        
        <label>Email</label>
        <input type="email" placeholder="yourname@example.com" id="email">
        <div class="error-message" id="email-error"></div>
        
        <label>Password</label>
        <input type="password" placeholder="min 6 characters" id="password">
        <div class="error-message" id="password-error"></div>
        
        <label>Confirm Password</label>
        <input type="password" placeholder="Confirm your password" id="confirm-password">
        <div class="error-message" id="confirm-password-error"></div>
        
        <button onclick="signUp()">Sign Up</button>
    </div>
    
    <div class="login-link">
        <p>Already have an account? <a href="login">Log In</a></p>
    </div>
</div>

<footer>
    <p>&copy; 2024 Study Planner. All Rights Reserved.</p>
</footer>