<body>
  <div class="quiz-container">
    <h1>Quiz Application</h1>
 
     <form [formGroup]="quizForm" (ngSubmit)="onSubmit()">
      <div formArrayName="questions" *ngFor="let questionCtrl of parsedQuestions; let i = index">
        <div [formGroupName]="i" class="question-group">
          <!-- Display question -->
          <h4>{{ parsedQuestions[i].question }}</h4>
    
          <!-- Display options as radio buttons -->
          <div *ngFor="let option of parsedQuestions[i].options; let j = index">
            <label>
              <input
                type="radio"
                [value]="option"
                formControlName="answer"
              />
              {{ option }}
            </label>
          </div>
        </div>
      </div>
      <button type="submit" [disabled]="quizForm.invalid">Submit</button>
    </form>
    
    
    <p id="response-message" class="response-message"></p>
  </div>
